doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Yama
        link(rel="stylesheet" href="/css/style.css")
    body
        header
            nav.header-nav
                img.logo(src="/images/logo.png", alt="Dating App Logo")
                div.menu
                    a(href="/home").menu-item Home
                    a(href="/support").menu-item Support
                    a(href="/login").menu-item Log In
                    a(href="/register").menu-item Sign Up

        .hero
            h1 Your Perfect Match Awaits
            p Start something epic. Join us and meet your match.
            a(href="/register").button Get Started

        .testimonials
            h2 Success Stories
            .testimonials-carousel
                .testimonial
                    p "It was love at first swipe. We connected instantly and have been inseparable ever since. Thank you for helping us find each other!"
                    .author - Kenneth & Elliot
                .testimonial
                    p "A huge thanks for helping me meet my love! After chatting for just 5 minutes on our first date, I knew I had found someone special."
                    .author - Victoria & Bailey
                .testimonial
                    p "I never believed in soulmates until I met mine here. Now we're planning our future together. This app really works!"
                    .author - Rachel & Alex
                .testimonial
                    p "We shared our first laugh over a simple message and now we share our lives. Grateful for this journey!"
                    .author - Jamie & Morgan
                .testimonial
                    p "Finding my partner was the missing piece of my puzzle. Thanks to this app, my picture is complete."
                    .author - Sam & Chris
                .testimonial
                    p "We both swiped right and it was a perfect match! Our first date felt like we'd known each other forever."
                    .author - Priya & Rohan

        .pre-call-to-action
            p Attention all single people - you are actually not alone! If you want to find love, relationships or new friends, then you need to go to Yama. More than 1000 couples have already been formed here, which means you will definitely find those who are close to you. Let's face it, everyone is dating online these days. Yama is the most popular application used by millions of guys and girls to meet and chat nearby. In addition, everyone is welcome at Yama, regardless of sexual orientation and gender identity.
            p You'll definitely find what you're looking for on Tinder. Do you want a new relationship? Please. Looking for new friends? No problem. Are you studying at university and dreaming of getting the most out of student life? That's what we are for. Yama is not just a dating site, but an entire social network where a variety of people from all over the world meet, make new friends and find love.

        .call-to-action
            h2 Ready to dive in?
            p Find love, relationships, or new friends - your someone special could be a swipe away.
            a(href="/register").button Create Account

        footer
            .footer-content
                .links
                    a(href="/info").footer-link Information
                    a(href="/social").footer-link Social Media

            .copy
                p &copy; 2024 Yama. All rights reserved.
